@import "../less-html/my-style.less";

//------------- FOOTER ----------//

.wrapfooter {
  background-color: @footer-background-color;
  padding: 1rem 5rem;
  border-top: @footer-border-size solid @footer-border-color;
  color: lighten(@footer-background-color, 20);
  margin-top: @footer-margin-top;
  min-height: 40vh;

  h2 {
    color: darken(@footer-text-color, 50);
  }

  .site-footer {
    ul {
      .list-unstyled;
    }
    a {
      color: @footer-link-color;
    }
    .site-info {
      text-align: center;
      font-size: 10px;
    }
  }
}

.credits {
  font-size: 11px;
  text-align: center;
  color: @gray-darker;
  a {
    color: @gray-light;
    &:hover {
      color: @gray-lighter;
    }
  }
}

/* footer */
.footer__contenido {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.footer__copyright {
  font-size: 1rem;
  color: lighten(@footer-text-color, 20);
  text-align: center;

  a {
    color: lighten(@footer-text-color, 20);
    text-decoration: none;

    &:hover {
      color: lighten(@footer-text-color, 40);
    }
  }
}

// ---------------- Boton To the Top
#totop {
  //color: fade(@white, 40%);
  //background-color: fade(darken(@brand-primary, 30), 20%);
  position: fixed;
  display: none;
  outline: none;
  right: 15px;
  bottom: 15px;
  // width: 50%;
  //border-color: fade(darken(@brand-primary, 30), 20%);
  z-index: 1000;
  color: @footer-text-color;
  &:hover {
    color: @white;
    //background-color: fade(darken(@brand-primary, 25), 70%);
  }
  @media (min-width: @screen-md-min) {
    //width: 100%;
    right: 40px;
    bottom: 40px;
  }
}

//---- Content Area Pages ------//

.page-area {
  display: flex;
  margin: auto 2rem;
}
