/* Variables */
@primary: rgb(116, 11, 11);
@secondary: rgb(231, 119, 14);

@background-nav : fade(@primary, 80%);
@text-nav : #fff;

@back-btn-color-consulta: @secondary;
@back-btn-color-vermas : spin(@background-nav, 180); //rgb(17, 134, 115);
@footer-text-color : rgb(131, 130, 130);

// Info Variables
@warning-color: rgba(255, 255, 0, 0.5);
@info-color: rgba(116, 202, 241, 0.5);
@alert-color: rgba(255, 0, 0, 0.5);
